// Fonts
$default-font: "Roboto", sans-serif;

// Colors
$white: #fff;
$very-light-pink-four: #f2f2f2;
$sapphire: #1948a6;
$black-two: #222;
$white-three: #fffefe;
$light-navy: #153d8c;
$pinkish-red: #db2b36;
$light-navy-two: #133780;
$gold: #d99e16;
$black-three: #111;
$brownish-grey-two: #666;
$very-light-pink-five: #d9d9d9;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);