@import "libs";
@import "vars";
@import "fonts";
@import "./components/extend";
@import "./template/extend";

::placeholder {
	color: #666;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.spiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 763px;
	font-size: 18px;
}

.main-section {
	display: grid;
	grid-template-columns: 1fr 262px;
	grid-template-rows: auto auto;
	grid-gap: 30px;

	@include media-breakpoint-down(sm) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}

.entry-title {
	font-size: 30px;
  font-weight: bold;
	color: $black-two;
	margin-bottom: 44px;
}

tbody,
tr,
td {
	border: 1px solid $very-light-pink-five;
}

tr:first-child {
	background-color: $sapphire;
	color: $white;
}

@include media-breakpoint-down(sm) {
	table {
		width: 100%;
		max-width: 100%;
		overflow: auto;
		display: block;
	}
}

.arhive__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;

	@media(max-width: 427px) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@import "media"; // Always at the end