.about {
  padding: 80px 0;

  &__grid {
    display: grid;
    grid-template-columns: 42.8% 1fr;
    grid-template-rows: auto;
    grid-column-gap: 98px;
    grid-row-gap: 30px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    color: $black-two;
    margin-bottom: 55px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  .site-button {
    margin-top: 25px;
  }
}