.site-footer {
  background-color: $sapphire;
  padding: 50px 0 60px;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  .site-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 1.4px;
    text-align: right;
    color: $white;
    margin-bottom: 0;
    text-transform: uppercase;
    max-width: 283px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      text-align: center;
    }
  }

  .menu {
    @extend .navbar-nav;

    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }

    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;

      padding: 0.3rem 0;
      font-size: 14px;
      line-height: 1.71;
      color: $white;
    }
  }

  &__main-navigation {
    margin-left: 97px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: $white;
    margin-bottom: 28px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  &__location,
  &__phone {
    font-size: 14px;
    line-height: 1.71;
    color: $white;
  }

  &__phone:hover {
    color: $white;
  }

  &__copyright-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copyright,
  &__developers {
    font-size: 14px;
    line-height: 22px;
    color: $black;
  }

  &__copyright {
    @include media-breakpoint-down(xs) {
      margin-bottom: 10px;
    }
  }

  &__developers {
    @include media-breakpoint-down(xs) {
      margin-top: 10px;
    }
  }
}
