.news {
  background-color: $very-light-pink-four;
  padding: 70px 0 80px;

  .site-title {
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @media(max-width: 439px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__item {
    &:hover {
      text-decoration: none;

      .news__title {
        color: $sapphire;
      }
    }
  }

  &__image {
    width: 100%;
    height: 241px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $black-two;
    margin-bottom: 10px;
    transition: all 0.25s ease;
  }

  &__time {
    font-size: 14px;
    color: $sapphire;
    margin-bottom: 12px;
  }

  &__exerpt {
    font-size: 14px;
    color: $black-two;
  }
}