.service {
  .site-title {
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @media(max-width: 439px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  &__item {
    position: relative;

    &:hover {
      a {
        text-decoration: none;
      }

      .service__title {
        color: $sapphire;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $black-two;
    transition: all 0.25s ease;
  }

  &__sell {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 14px 6px;
    background-color: $pinkish-red;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: center;
    color: $white;
  }

  &__date {
    font-size: 14px;
    color: $sapphire;
    margin-bottom: 12px;
  }
}
