.widget-area {
  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .widget {
    margin-bottom: 64px;
  }

  .widget-title {
    font-size: 24px;
    font-weight: bold;
    color: $black-two;

    &::after {
      content: "";
      display: block;
      width: 87px;
      height: 3px;
      background-color: $sapphire;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    color: $black-two;
  }

  .post-widget {
    display: block;
    margin-bottom: 30px;

    img {
      width: 262px;
      height: 175px;
      object-fit: cover;
      margin-bottom: 10px;

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }

    &__time {
      font-size: 13px;
      color: $sapphire;
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
      color: $black-two;
      margin-bottom: 10px;
    }
  }
}