.site-header {
  &__main {
    padding: 25px 0 30px;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__logo {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    color: $sapphire;

    @include media-breakpoint-down(sm) {
      margin: 15px 0 0;
    }
  }

  &__location {
    font-size: 16px;
    color: $black-two;
  }

  &__email {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $sapphire;
  }

  &__phone {
    font-size: 20px;
    font-weight: bold;
    color: $black-two;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      margin-top: 15px;
    }

    @media(max-width: 375px) {
      justify-content: center;
    }
  }

  &__menu {
    position: sticky;
    top: 0;
    background-color: $sapphire;
    z-index: 99;
    margin-bottom: 30px;
  }

  &__main-navigation {
    @include media-breakpoint-down(md) {
      display: none;
    }

    .menu {
      @extend .navbar-nav;

      flex-direction: row;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .sub-menu {
      @extend .navbar-nav;

      position: absolute;
      width: 100%;
      top: 100%;
      left: -99999px;
      opacity: 0;
      z-index: 9;
      background-color: $sapphire;
      transition: opacity 0.5 ease;

      @include media-breakpoint-down(md) {
        position: static;
        display: none;
        opacity: 1;
        left: auto;
        top: auto;
      }
    }

    li {
      @extend .nav-item;

      flex-grow: 1;
      text-align: center;
      position: relative;

      &:hover,
      &.current_page_item {
        background-color: $light-navy;

        a {
          border-bottom: 3px solid $pinkish-red;
        }
      }

      &:hover {
        .sub-menu {
          left: 0;
          opacity: 1;
        }
      }

      @include media-breakpoint-down(md) {
        padding-right: 20px;
      }

      &.login {
        img {
          margin-right: 10px;
        }
      }
    }

    .child-dropdown {
      @include media-breakpoint-down(md) {
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/icon-down.svg) no-repeat center center;
      }
    }

    a {
      @extend .nav-link;

      color: $white;
      padding: 1rem 0;
      transition: all 0.25s ease;
      border-bottom: 3px solid transparent;
    }
  }
}

.btn-menu {
  @include media-breakpoint-down(md) {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    width: 40px;
    height: 40px;

    span,
    span::before,
    span::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $white;
    }

    span::before {
      transform: translateY(8px);
    }

    span::after {
      transform: translateY(-8px);
    }

    span::before,
    span::after {
      transition: all 0.25s ease;
    }

    &.active {
      span {
        height: 0;
      }

      span::before {
        transform: rotate(45deg);
      }

      span::after {
        transform: rotate(-45deg);
      }
    }
  }
}