.stella {
  &-main {
    max-width: 262px;

    @include media-breakpoint-down(sm) {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__block {
    position: relative;
    display: none;
  
    &.active {
      display: block;
    }
  }

  &__data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 25px;
    z-index: 1;
  }

  &__image {
    margin: 25px 0 23px;
    text-align: right;
  }

  &__select-block {
    margin-bottom: 25px;

    > div {
      display: block;
      width: 177px;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__info {
    max-width: 177px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 30px;
    position: relative;

    &.reload {
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($black-three, 0.7) url(../images/puff-white.svg) no-repeat center center;
        z-index: 1;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: inset 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: $light-navy-two;
    padding: 1px;
    margin-bottom: 2px;
  }

  &__item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: $sapphire;
    font-family: Akrobat;
    line-height: normal;
    height: 100%;
    font-size: 34px;
    font-weight: 800;
    color: $white;
    width: 34%;
    height: 49px;

    &.black {
      background-color: $black-three;
    }

    &.gold {
      background-color: $gold;
    }

    &.red {
      background-color: $pinkish-red;
    }

    span {
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  &__item-price {
    font-family: TickingTimebombBB;
    font-size: 45px;
    color: $white;
    line-height: normal;
    margin-left: 13px;
    margin-top: 5px;
  }

  &__thumbnail  {
    text-align: right;
    
    img {
      width: 177px;
      height: 110px;
      object-fit: contain;
    }
  }
}

.select2-container--default .select2-selection--single {
  border: 0 !important;
  background-color: $light-navy-two !important;
  border-radius: 17.5px !important;
  box-shadow: inset 0.5px 0.9px 4px 0 rgba(0, 0, 0, 0.25);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $white !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-inline-start: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background: url(../images/icon-down.svg) no-repeat center center;
}