@font-face {
  font-family: 'TickingTimebombBB';
  src:url('Ticking-Timebomb-BB.ttf.woff') format('woff'),
      url('Ticking-Timebomb-BB.ttf.svg#Ticking-Timebomb-BB') format('svg'),
      url('Ticking-Timebomb-BB.ttf.eot'),
      url('Ticking-Timebomb-BB.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}