.navigation {
  margin: 30px 30px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li,
    a {
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: $very-light-pink-five;
      margin-right: 1px;
      position: relative;
      cursor: pointer;
      transition: 0.25s;
      font-weight: 700;
      color: $black-three;
      &:hover {
        background-color: $sapphire;
        color: $white;
      }
    }

    li.active {
      a {
        background-color: $sapphire;
        color: $white;
      }
    }
  }

  .navigation-previous {
    a {
      background-image: url(../images/e-arrow-2-left.png);
    }
    &:hover {
      a {
        background-image: url(../images/e-arrow-2-left-white.png);
      }
    }
  }

  .navigation-next {
    a {
      background-image: url(../images/e-arrow-2-right.png);
    }
    &:hover {
      a {
        background-image: url(../images/e-arrow-2-right-white.png);
      }
    }
  }
  .navigation-previous,
  .navigation-next {
    a {
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}