.site-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;

  > span {
    font-size: 30px;
    color: $black-two;
    padding-bottom: 10px;
    border-bottom: 3px solid $sapphire;
  }

  .more-link {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 17.5px;
    background-color: $sapphire;
    line-height: normal;
    font-size: 14px;
    color: $white;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 45px;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 25px;
      height: 25px;
      background: $white url(../images/arrow-right.svg) no-repeat center center;
      border-radius: 50%;
    }
  }
}