.site-button {
  @extend .btn;

  border-radius: 25px;
  background-color: $pinkish-red;
  padding: 0.75rem 1.8rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $pinkish-red + 20;
  }

  img {
    display: inline-block;
    margin-right: 10px;
  }
}